@import './mixins/_breakpoints.scss';

//Theme Colours
$primary: rgb(255, 114, 20);
$secondary: rgb(0, 225, 255);
$dark: rgb(31, 31, 31);

/*Determine Best contrast text*/
@function contrast-text($color) {
	@if (lightness($color) > 60) {
		@return black;
	} @else {
		@return white;
	}
}

//Typography
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Pacifico&display=swap');

* {
	font-family: 'Montserrat Alternates', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
	font-family: 'Pacifico', cursive;
}

.text-white {
	color: #fff;
}

//Navigation
nav.navbar {
	width: 100%;
	position: fixed;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 1rem;
	z-index: 1;
	color: #fff;

	background: linear-gradient(225deg, #00000024, transparent);

	transition-duration: 300ms;

	&.is-scrolled {
		background: #fff;
		color: #000;
		box-shadow: 0 0 5px 0px #00000080;

		.navbar-nav li a:hover::after {
			background: #000000;
		}
	}

	.navbar-brand {
		display: inline-block;
		padding-top: 0.3125rem;
		padding-bottom: 0.3125rem;
		margin-right: 1rem;
		font-size: 1.5rem;
		line-height: inherit;
		white-space: nowrap;
	}

	.navbar-nav {
		display: flex;
		flex-direction: column;
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;
		margin-top: 0;

		li:not(:last-of-type) a {
			margin-right: 0.75rem;
		}

		a {
			padding: 0.8rem 0.8rem;
			display: block;
			text-decoration: none;
			font-weight: bold;
			position: relative;

			&:after {
				position: absolute;
				content: '';
				height: 3px;
				bottom: 1px;
				margin: 0 auto;
				left: 0;
				right: 0;
				width: 100%;
				background: #00000000;
				transform: translateY(6px);
				transition-duration: 350ms;
			}
			&:hover::after {
				background: #ffffff;
				transform: translateY(0);
			}
		}
	}
}

@include md {
	nav.navbar {
		flex-direction: row;
		.navbar-nav {
			flex-direction: row;
		}
	}
}

//Containers
.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;

	@include sm {
		max-width: 540px;
	}

	@include md {
		max-width: 720px;
	}

	@include lg {
		max-width: 960px;
	}
	@include xl {
		max-width: 1140px;
	}
}

//Buttons
.btn {
	padding: 0.75rem 1.75rem;
	border-radius: 5rem;
	border: none;

	&:hover {
		text-decoration: none;
		cursor: pointer;
	}

	&.btn-primary {
		background-color: $primary;
		color: contrast-text($primary);
	}
}

//Margins
.my-0 {
	margin-top: 0;
	margin-bottom: 0;
}

.mb-3 {
	margin-bottom: 1rem;
}
