<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="places-to-go.html">Places to Go</a></li>
					<li><a href="things-to-see.html">Things to See</a></li>
					<li><a href="history.html">New Zealand's History</a></li>
					<li><a href="contact.html">Contact Us</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<ul>
					<li><b>Other Useful Websites</b></li>
					<li><a href="https://isite.nz/" target="_blank">iSite New Zealand</a></li>
					<li><a href="https://www.eventfinda.co.nz/" target="_blank">Eventfinda</a></li>
				</ul>
			</div>
			<div class="col-sm-6 text-right">
				Social <br />
				<span class="fancy-title">Kiwi Prelude</span>
			</div>
		</div>
	</div>
</footer>
